{% extends 'base.html.twig' %}

{% block body %}

    <h1>test page</h1>

    <div>{{ mySeries.title|raw }}</div>
    <div>released : {{ mySeries.year }}</div>
    <br>
    <div>here's another variable <em>{{ anotherVariable }}</em></div>

    <br>
    <div>{{ "+20 days"|date('d/M/Y') }}</div>
    <p>^^ {{ 'my brithday yay'|upper }}</p>


    {# creating a variable! #}
    {% set name = 'Alex' %}
    <h2>"{{ name|upper }}" <span style="font-size: 0.75em">there {{ name|length }} letters in this word</span></h2>
    {# Creating an array #}
    {% set colours = ['red', 'brown', 'turquoise', 'pink'] %}

    {% for colour in colours %}
        <div style="background-color: {{ colour }}"> {{ loop.index}} : {{ colour }}</div>
    {% endfor %}
    <div>number of colour : {{ colours|length }}</div>
    <div>colours in a line : {{ colours|join(' / ') }}</div>

    {# an object #}
    {% set book = {
        title : 'The fellowship of the ring',
        year : 'old',
        author : 'JRR Tolkien'}
    %}
    <h3>{{ book.author }}</h3>
    <div>
        {% for key, value in book %}
            <p>{{ key }} : {{ value }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block title %}{{ parent() }}! | Test {% endblock %}